<p><a routerLink="/" class="nav-link">К списку групп</a></p>
  <div *ngIf="editGroup; else editORCreateCategory">
    <ng-container *ngIf="!newGroup">
      <h2>Изменение группы</h2>
    </ng-container>
    <ng-container *ngIf="newGroup">
      <h2>Добавление группы</h2>
    </ng-container>
    <label>Имя</label>
    <input type="text" [(ngModel)]="groupType.name" class="form-control" />
    <table class="table table-striped">
      <label>Категории</label>
      <tr *ngFor="let ag of allAtributesGroup">
        <td>{{ag?.name}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="startEditAtributeGroup(ag)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="deleteAtributeGroup(ag)">Удалить</button>
        </td>
    </tr>
    </table>
    <div>
      <button class="btn btn-sm btn-primary" (click)="startEditAtributeGroup(atributesGroup)">Добавить категорию</button>
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="saveGroup()">Сохранить</button>
  </div>
</div>

<!--шаблон для редактирования Категории<-->
<ng-template #editORCreateCategory>
  <h2>Редактирование категории</h2>
  <label>Имя</label>
  <input type="text" [(ngModel)]="editableAtributesGroup.name" class="form-control" />
  
  <table class="table table-striped">
    <label>Атрибуты</label>
      <tr *ngFor="let atr of editableAtributesGroup.atributes">
        <ng-template [ngIf]="atribute?.name != atr.name" [ngIfElse]="editAtributeTemplate">
          <td>{{atr?.name}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="editAtribute(atr)">Изменить</button>
            <button class="btn btn-sm btn-danger" (click)="deleteAtribute(atr)">Удалить</button>
          </td>
        </ng-template>
      </tr>
      <div>
        <input type="text" [(ngModel)]="newAtributeName" class="form-control" />
        <button class="btn btn-success" (click)="addAtribute()">Добавить атрибут</button>
      </div>
  </table>
  <div>
    <button class="btn btn-success" (click)="saveAtributesGroup()">Готово</button>
    <button class="btn btn-sm btn-warning" (click)="cancelAtributesGroup()">Отмена</button>
  </div>
</ng-template>


<ng-template #editAtributeTemplate>
  <td>
    <input type="text" [(ngModel)]="changeAtributeName" class="form-control" />
  </td>
  <td>
    <div>
      <button class="btn btn-success" (click)="saveAtribute()">Готово</button>
      <button class="btn btn-sm btn-warning" (click)="cancelAtribute()">Отмена</button>
    </div>
  </td>
</ng-template>